<div class="container border">
<h1 style="color:#ff7b7f;" class="text-centered">Your recap <%= user.first_name %> </h1>
<body bgcolor="#f6f6f6" style="font-family: Arial; background-color: #f6f6f6;">

<table width="630" class="container" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td>
      <table align="left">
        <tr>
          <td width="188" class="Logo">
            <%= asset_url("logo2.png", width: "90px" , alt: "Gdutosma logo") %>
          </td>
        </tr>
      </table>
      <table align="right">
        <tr>
          <td height="70" class="viewWebsite">
            <p style="font-family: Arial, Helvetica, sans-serif; color: #555555; font-size: 10px; padding: 0; margin: 0;">If you are having trouble viewing this email, please <a href="#" style="color: #990000;">click here</a>.</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<table width="630" bgcolor="#fcfcfc" style="border: 1px solid #dddddd; line-height: 135%;" class="container" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td bgcolor="#fcfcfc" colspan="3" align="center">
      <%= image_tag("background_product.jpg", width: "100%") %>
    </td>
  </tr>
  <tr>
    <td colspan="3" height="15">&nbsp;</td>
  </tr>
  <tr>
    <td bgcolor="#fcfcfc" colspan="3">
      <table>
        <tr>
          <td width="30" </td>
          <td align="center" class="bodyCopy">
            <h1 style="font-family: Arial, Helvetica, sans-serif; font-size: 32px; color:#ff7b7f; margin-top: 0; margin-bottom: 20px; padding: 0; line-height: 135%" class="headline">Gdutosma is an awesome project</h1>
            <p style="font-family: Arial, Helvetica, sans-serif; color: #555555; font-size: 14px; padding: 0 40px;">Welcome to Gdustoma, we're so glad to meet you. On Gdutosma.com, you can deposit stuff and rent items for other users </p>
          </td>
          <td width="30" </td>
        </tr>
      </table>
    </td>
  </tr>

<%= link_to "your order" product_rent_path %>

<style>

.text-centered{

  text-align: center;
}

  h1, h2 {
    line-height: 120% !important;
  }

.center{

display: inline-block;
width: 90px;
margin: 0 auto;
}

.myh3{
text-align: center;

}
.colored{

 color: #fcfcfc;

}

</style>
