<div class="container border">
<h1 style="color:#ff7b7f;" class="text-centered">Welcome to Gdutosma</h1>

<body bgcolor="#f6f6f6" style="font-family: Arial; background-color: #f6f6f6;">

<table width="630" class="container" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td>
      <table align="left">
        <tr>
          <td width="188" class="Logo">
            <img src="http://res.cloudinary.com/dyhna3enb/image/upload/v1480078603/logo2_gs3vk1.png" width="90px">
          </td>
        </tr>
      </table>
      <table align="right">
        <tr>
          <td height="70" class="viewWebsite">
            <p style="font-family: Arial, Helvetica, sans-serif; color: #555555; font-size: 10px; padding: 0; margin: 0;">If you are having trouble viewing this email, please <a href="#" style="color: #990000;">click here</a>.</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<table width="630" bgcolor="#fcfcfc" style="border: 1px solid #dddddd; line-height: 135%;" class="container" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td bgcolor="#fcfcfc" colspan="3" align="center">
      <img src="http://res.cloudinary.com/dyhna3enb/image/upload/v1480078404/background_product_p9kodn.jpg" width="100%">

    </td>
  </tr>
  <tr>
    <td colspan="3" height="15">&nbsp;</td>
  </tr>
  <tr>
    <td bgcolor="#fcfcfc" colspan="3">
      <table>
        <tr>
          <td width="30" </td>
          <td align="center" class="bodyCopy">
            <h1 style="font-family: Arial, Helvetica, sans-serif; font-size: 32px; color: #404040; margin-top: 0; margin-bottom: 20px; padding: 0; line-height: 135%" class="headline">Gdutosma is an awesome project</h1>
            <p style="font-family: Arial, Helvetica, sans-serif; color: #555555; font-size: 14px; padding: 0 40px;">Welcome to Gdustoma, we're so glad to meet you. On Gdutosma.com, you can deposit stuff and rent items for other users </p>
          </td>
          <td width="30" </td>
        </tr>
      </table>
    </td>
  </tr>

  <tr>
    <td colspan="3" align="center">
<img src="http://res.cloudinary.com/dyhna3enb/image/upload/v1480078698/grey_div_psv2sp.jpg" width="100%">
    </td>
  </tr>
  <tr>
    <td colspan="3" height="3">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="3">

      <table width="213" align="left" style="border-collapse:collapse;">
        <tr>
          <td width="35"</td>
          <td>
            <div align="center">
              <img src="http://res.cloudinary.com/dyhna3enb/image/upload/v1480078333/security_yyorcr.png" width="90px">
              </div>
            <h3 style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; color: #404040; margin: 0; padding: 0;" class="myh3">security</h3>
            <p style="font-family: Arial, Helvetica, sans-serif; color: #555555; font-size: 13px;" class="text-centered">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse semper aliquet venenatis. Quisque eu nunc vitae elit eleifend accumsan.</p>
          </td>
        </tr>
      </table>

      <table width="193" align="left" style="border-collapse:collapse;">
        <tr>
          <td width="15"</td>
          <td>
            <div align="center">
            <img src="http://res.cloudinary.com/dyhna3enb/image/upload/v1480078329/heart_sll7gq.png" width="90px" class="center">
              </div>
            <h3 style="font-family: Arial; font-size: 16px; color: #404040; margin: 0; padding: 0;" class="myh3"> passionate people</h3>
            <p style="font-family: Arial; color: #555555; font-size: 13px;" class="text-centered">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse semper aliquet venenatis. Quisque eu nunc vitae elit eleifend accumsan.</p>
          </td>
        </tr>
      </table>

      <table width="193" align="left" style="border-collapse:collapse;">
        <tr>
          <td width="15"></td>
          <td>
            <div align="center">
         <img src="http://res.cloudinary.com/dyhna3enb/image/upload/v1480078960/Camera_ewebca.png" width="90px">
              </div>
            <h3 style="font-family: Arial; font-size: 16px; color: #404040; margin: 0; padding: 0;" class="myh3">Rent stuff easily</h3>
            <p style="font-family: Arial, Helvetica, sans-serif; color: #555555; font-size: 13px;" class="text-centered">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse semper aliquet venenatis. Quisque eu nunc vitae elit eleifend accumsan.</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>


</body>

<style>

.text-centered{

  text-align: center;
}

  h1, h2 {
    line-height: 120% !important;
  }

.center{

display: inline-block;
width: 90px;
margin: 0 auto;
}

.myh3{
text-align: center;

}
.colored{

 color: #fcfcfc;

}

</style>
