<h1>User#welcome</h1>

<h2> hi <%= @user.first_name %>, welcome to Gdutosma ! avec Gdutosma, rent some stuff  or deposit your products easily </h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus praesentium fugit debitis, neque aut sequi, iure nulla dolorum sint quisquam aperiam voluptate tempora distinctio deleniti provident, consectetur molestias modi consequuntur.</p>
