<div class="container border">
<h1 style="color: deepskyblue;">Welcome message</h1>

<h2> hi <%= @user.first_name %>, welcome to <span style="color:deepskyblue;">Gdutosma</span> ! avec Gdutosma, rent some stuff  or deposit your products easily </h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus praesentium fugit debitis, neque aut sequi, iure nulla dolorum sint quisquam aperiam voluptate tempora distinctio deleniti provident, consectetur molestias modi consequuntur.cing elit. Temporibus praesentium fugit debitis, neque aut sequi, iure nulla dolorum sint quisquam aperiam voluptate tempora distinctio deleniti provident, consectetur molestias modi consequuntur.</p></p>
</div>

<style>

.border{
box-shadow: 1px 1px 6px;
margin: 0 auto;
}


</style>
