/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */


.border{

padding: 150px 50px;
box-shadow: 1px 1px 12px #555;

}

.myh1{
font-size: 25px;
letter-spacing: 2px;


}

.borderleft{

box-shadow : 10px 0px 13px -9px #468776;
}
