/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

/* border du container */

.border{
padding: 150px 50px;
box-shadow: 1px 1px 12px #555;
}

/* style titre h1*/

.myh1{
font-size: 25px;
letter-spacing: 2px;
}

