<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="container border">
  <div class="row">

    <div class="col-md-6 padded ">
      <h1 class="myh1"> You want a specific item to rent ? </h1>
      <br>
      <%= link_to new_product_path do  %>
      <button type="button" class="btn btn-primary center-block btn-lg" >rent an item </button>
      <% end %>
    </div>
    <div class="col-md-6 padded">
      <h1 class="myh1">You own an item & want to rent it </h1>
      <br>
      <%= link_to new_product_path do  %>
      <button type="button" class="btn btn-primary center-block btn-lg" >create an announce </button>
      <% end %>
    </div>

  </div>
</div>
