.btn-facebook {
  background-color: #3B5998;
  color: white;
}

.btn-facebook:hover {
  background-color: #2B477F;
  color: white;
}

.btn-find {
  background-color: #FD717F;
}

#btn-nav {
  margin: 0 10px;
}
